[Unit]
Description=CommentService
After=docker.service
After=commentdb.service
Requires=docker.service
Requires=commentsk.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill comment-service
ExecStartPre=-/usr/bin/docker rm comment-service
ExecStartPre=/usr/bin/docker build -t comment-service /home/core/share/comment-service
ExecStart=/bin/sh -c "/usr/bin/docker run --name comment-service -e PASSENGER_APP_ENV=development -e POSTGRES_HOST=$(/usr/bin/etcdctl get /services/commentdb/host) -p 80:80 comment-service"
ExecStop=/usr/bin/docker stop comment-service 
