[Unit]
Description=Comment Service DB Sidekick
Requires=docker.service
Requires=etcd.service
 
After=docker.service
After=etcd.service
After=commentdb.service
BindsTo=commentdb.service
 
[Service]
EnvironmentFile=/etc/environment
User=core
 
TimeoutStartSec=0
ExecStart=/bin/bash -c '\
  while true; do \
    etcdctl set /services/commentdb/host ${COREOS_PRIVATE_IPV4} --ttl 10; \
    sleep 5; \
    done'
 
ExecStop=/usr/bin/etcdctl rm /services/commentdb/host
 
[X-Fleet]
MachineOf=commentdb.service
